<footer>
  <div class="row">
    <div class="small-12 large-6 column">
      <h1 class="logo">
        <%= t("layouts.footer.title") %>
      </h1>

      <div class="info-list">
        <% if setting["physical_address"] %>
        <p>
          <i class="fa-map-marker"></i>
          <span><%= setting["physical_address"] %></span>
        </p>
        <% end %>
        <% if setting["phone_number"] %>
        <p>
          <i class="fa-phone"></i>
          <span><%= setting["phone_number"] %></span>
        </p>
        <% end %>
        <% if setting["contact_email"] %>
        <p>
          <i class="fa-envelope"></i>
          <span><%= setting["contact_email"] %></span>
        </p>
        <% end %>
      </div>
      <ul class="info-rrss">
        <% if setting["facebook_handle"] %>
        <li>
          <%= link_to "https://www.facebook.com/#{setting['facebook_handle']}", target: "blank" do %>
            <i class="fa-facebook"></i>
          <% end %>
        </li>
        <% end %>
        <% if setting["twitter_handle"] %>
          <li>
            <%= link_to "https://twitter.com/#{setting['twitter_handle']}", target: "blank" do %>
              <i class="fa-twitter"></i>
            <% end %>
          </li>
        <% end %>
        <% if setting["youtube_handle"] %>
          <li>
            <%= link_to "https://www.youtube.com/user/#{setting['youtube_handle']}", target: "blank" do %>
              <i class="fa-youtube"></i>
            <% end %>
          </li>
        <% end %>
        <% if setting["instagram_handle"] %>
          <li>
            <%= link_to "https://www.instagram.com/#{setting['instagram_handle']}", target: "blank" do %>
              <i class="fa-instagram"></i>
            <% end %>
          </li>
        <% end %>
        <% if setting["linkedin_handle"] %>
          <li>
            <%= link_to "https://www.linkedin.com/company/#{setting['linkedin_handle']}", target: "blank" do %>
              <i class="fa-linkedin"></i>
            <% end %>
          </li>
        <% end %>
        <% if setting["tiktok_handle"] %>
          <li>
            <%= link_to "https://www.tiktok.com/@#{setting['tiktok_handle']}", target: "blank" do %>
              <i class="fa-tiktok"></i>
            <% end %>
          </li>
        <% end %>
        <% if setting["rrss_link"] %>
          <li>
            <%= link_to "#{setting['rrss_link']}", target: "blank" do %>
              <i class="fa-plus-circle"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="footer-logo small-12 large-6 column">
      <%= link_to 'https://www.malaga.eu/', accesskey: "0", target: "blank" do %>
        <%= image_tag("icon-footer-w.png", alt: setting["org_name"]) %>
      <% end %>
    </div>
  </div>

  <div class="footer-subfooter">
    <div class="row">
    <ul class="no-bullet inline-block">
      <li class="inline-block"><%= link_to t("layouts.footer.legal"), 'https://www.malaga.eu/informacion-general/aviso-legal/', target: "blank" %>&nbsp;|</li>
      <li class="inline-block"><%= link_to t("layouts.footer.privacy"), 'https://www.malaga.eu/informacion-general/politica-de-privacidad/', target: "blank" %>&nbsp;|</li>
      <li class="inline-block"><%= link_to t("layouts.footer.accessibility"), 'https://www.malaga.eu/informacion-general/accesibilidad/', target: "blank" %>&nbsp;|</li>
      <li class="inline-block"><%= link_to t("layouts.footer.availability"), 'https://www.malaga.eu/informacion-general/disponibilidad/', target: "blank" %>&nbsp;|</li>
      <li class="inline-block"><%= link_to t("layouts.footer.map"), 'https://www.malaga.eu/informacion-general/mapa-web/', target: "blank" %>&nbsp;|</li>
      <li class="inline-block"><%= link_to t("layouts.footer.themes"), 'https://www.malaga.eu/webs-tematicas/', target: "blank" %>&nbsp;|</li>
      <li class="inline-block"><%= link_to t("layouts.footer.conditions"), '/conditions', target: "blank" %></li>
    </ul>
    </div>
    <div class="row">
    <ul class="no-bullet inline-block">
      <li class="inline-block"><%= link_to t("layouts.footer.copyright"), 'https://www.malaga.eu/', target: "blank" %>&nbsp;|</li>
      <li class="inline-block"><%= link_to t("layouts.footer.support"), 'https://cemi.malaga.eu/', target: "blank" %></li>
    </ul>
    </div>
  </div>
</footer>
