<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  <%= wicked_pdf_stylesheet_link_tag "pdf_fonts" -%>
</head>
<body class="process-pdf">
  <div class="content">
    <div class="title">
      <b>
      <% if @type=="audiencia" %>
          INFORME DE AUDIENCIA PÚBLICA EN EL PORTAL DE PARTICIPACIÓN CIUDADANA DEL AYUNTAMIENTO DE MÁLAGA
      <% else %>
          INFORME DE CONSULTA PÚBLICA EN EL PORTAL DE PARTICIPACIÓN CIUDADANA DEL AYUNTAMIENTO DE MÁLAGA
      <% end %>
      </b>
    </div>
    <p class="text">
        El presente informe ha sido generado de manera automática por la Portal de Participación del Ayuntamiento de Málaga para acreditar que el proceso denominado
    </p>
    <div class="code">
      <%= @process.title %>
    </div>
    <p class="text">
      fue publicado el <%= I18n.l(@process.start_date, format: '%A, %d de %B de %Y') %> por el Área de <%= @area %> y ha estado sometido a <% if @type=="audiencia" %>audiencia pública<% else %>consulta pública<% end %> del <%= I18n.l(@process.start_date, format: '%A, %d de %B de %Y') %> al <%= I18n.l(@process.end_date, format: '%A, %d de %B de %Y') %> en el Portal de Participación Ciudadana, concretamente en la URL:
    </p>
    <div class="link">
      <a href="<%= root_url %>legislation/processes/<%= @process.id %>" target="_blank" rel="noopener noreferrer">
        <%= root_url %>legislation/processes/<%= @process.id %>
      </a>
    </div>
    <p class="text">
      con el siguiente texto:
    </p>
    <div class="description">
      <%= @process.description %><br><br>
      <%= @process.additional_info %>
    </div>
    <p class="text">
      Incluyendo además los siguientes archivos adjuntos: <br>
      <ol>
        <% @process.documents.each do |doc|%>
          <li>
            <% info_text = "#{doc.humanized_content_type} | #{number_to_human_size(doc.attachment_file_size)}" %>
            <a href="<%= root_url %><%= url_for(doc.attachment) %>"><%= doc.title %> (<%= info_text %>)</a><br>
            <small>Disponible en la siguiente URL: <%= root_url %><%= url_for(doc.attachment) %></small>
          </li>
        <% end %>
      </ol>
    </p>
    <p class="text">
      Durante el proceso se ha producido <%= @process.total_comments_and_proposals %> comentarios<%= @conclusions.blank? ? '.' : ", y se han alcanzado las siguientes conclusiones: #{@conclusions}" %>
    </p>
    <br>
    <p class="date">
      Este documento fue generado el <%= I18n.l(Date.today, format: '%A, %d de %B de %Y') %>
    </p>
  </div>
</body>
</html>
