<h2><%= t("admin.tags.debates.add_tag") %></h2>
<p><%= t("admin.tags.debates.help") %></p>

<%= form_for(@tag, url: admin_debates_tags_path, as: :tag) do |f| %>
  <div class="small-12 medium-6">
    <%= f.text_field :name %>
    <% select_options = [["Area", "area"], ["Distrito", "district"]] %>
    <%= f.select :kind, options_for_select(select_options), label: 'Selecciona el tipo de tema', include_blank: '-------------'  %>
  </div>

  <%= f.submit(t("admin.tags.create"), class: "button success") %>
<% end %>

<hr>
<h3><%= t("admin.tags.debates.title") %>: <%= page_entries_info @tags %></h3>

<table>
  <thead>
    <th scope="col" class="small-9"><%= t("admin.tags.debates.topic") %></th>
    <th scope="col"><%= t("admin.tags.debates.kind.title") %></th>
    <th scope="col"><%= t("admin.actions.actions") %></th>
  </thead>
  <tbody>
  <% @tags.each do |tag| %>
    <tr>
      <td>
            <%= form_for(tag,
            url: admin_debates_tag_path(tag),
            as: :tag,
            html: { id: "edit_tag_#{tag.id}" }) do |f| %>

            <strong><%= tag.name %></strong>
        <% end %>
      </td>
      <td>
        <strong><%= t("admin.tags.debates.kind.#{tag.kind}") %></strong>
      </td>
      <td id="tag_<%= tag.id %>">
        <%= render Admin::TableActionsComponent.new(tag, actions: [:destroy]) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @tags %>
